# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Môi trường ảo
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Biến môi trường
.env
.env.local
.env.production


# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
